/* Theme for [Markdown Viewer](https://github.com/simov/markdown-viewer)
 * Made by LukasMnt
 * Very very base made with Chat GPT4-o on https://duck.ai 
 * Color theme: Catppuccin's palette (latte and mocha)
 * Accent color: mauve (well, only links actually use it but it's here)
 *
 * Description:
 * This is a theme that automatically switches between Latte and Moca themes by following browser's theme. This theme has been made for Markdown Viewer because of the lack of good themes that follow systheme's theme to me.
 *
 * Notes:
 * Some `!important` tags are required at few spots and I don't know why, help is welcome
 * It may be incomplete because of my basic usage of it.
 * Sorry for my poor frenchy english
 * */

/* ------------- Fonts ------------- */
@font-face {
  font-family: 'JetBrains Mono';
  src: url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-Bold-Italic.woff2') format('woff2'),
  url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff/JetBrainsMono-Bold-Italic.woff') format('woff');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-Bold.woff2') format('woff2'),
  url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff/JetBrainsMono-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-ExtraBold-Italic.woff2') format('woff2'),
  url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff/JetBrainsMono-ExtraBold-Italic.woff') format('woff');
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-ExtraBold.woff2') format('woff2'),
  url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff/JetBrainsMono-ExtraBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-Italic.woff2') format('woff2'),
  url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff/JetBrainsMono-Italic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-Medium-Italic.woff2') format('woff2'),
  url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff/JetBrainsMono-Medium-Italic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-Medium.woff2') format('woff2'),
  url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff/JetBrainsMono-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-Regular.woff2') format('woff2'),
  url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff/JetBrainsMono-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
/* ------------- Fonts ------------- */


/* ------------- Global appearance ------------- */
/* there are a few `!important` tags here, don't know why I have to put them :'( */
:root{
  --color_accent: var(--mauve);
}

body {
  min-height: 100vh; /* Minimum height of the body is 100% of the viewport height */
  font-family: 'Noto Serif', Arial, sans-serif;
  color: var(--text);
  background-color: var(--base);
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

h1{
  color: var(--red);
}

h2{
  color: var(--peach);
}

h3{
  color: var(--yellow);
}

h4{
  color: var(--green);
}

h5{
  color: var(--sapphire);
}

h6{
  color: var(--Lavender);
}

a {
  text-decoration: none;
  color: var(--mauve);
}

a:hover {
  text-decoration: underline;
}

mark {
  border-radius: 3px;
  padding: 0 3px;
  background: var(--base);
}

kbd {
  border-radius: 3px;
  padding: 0 3px;
  background: var(--base);
}

table {
  border-collapse: separate;
  width: 100%;
  border-radius: 6px; /* Rounded corners */
  overflow: hidden; /* Ensures that the corners are rounded */
  border-spacing: 0px;
  border: 1px solid var(--surface0);
}

table th {  padding: 8px;
  border-bottom: 2px solid var(--surface0);
  background-color: var(--crust);
}

table td {
  padding: 8px;
  border-right: 1px solid var(--surface0);
}

table tr td:last-of-type {
  border-right: none; /* Remove right border for the last cell in each row */
}

table tr:nth-child(odd) td {
  background: var(--mantle);
}

blockquote {
  padding: 1px 10px;
  margin: 16px 0;
  background: var(--mantle);
  border-left: 5px solid #ccd0da;  /* surface 0 */
}

code { /* inline code `example`*/
  text-shadow: none !important;
  border-radius: 3px; /* Rounded corners */
  padding: 0px 4px !important; /* Padding for better spacing */
  font-family: 'JetBrains Mono', 'Courier New', Courier, monospace; /* Monospace font for code */
  font-size: 90%; /* Slightly smaller font size */
  background: var(--mantle);
  color: var(--text);
  border: 1px solid var(--surface0);
}

pre { /* big code block */
  border-radius: 6px; /* Rounded corners */
  padding: 8px; /* Padding inside the box */
  overflow: auto; /* Allow scrolling if content overflows */
  margin: 16px 0; /* Margin around the code block */
  background: var(--mantle);
  border: 1px solid var(--surface0);
}

pre code { /* code in big code blocks */
  border: 0px; /* Border color for code in blocks */
  font-size: 100%; /* Normal font size */
  background-color: transparent; /* Ensure the code inside has a transparent background */
  font-family: 'JetBrains Mono', 'Courier New', Courier, monospace !important; /* Monospace font for code */
}

ul.contains-task-list{
  list-style-type: none; /* Remove bullets in tasks lists */
  padding: 0; /* Remove padding */
  margin: 0;  /* Remove margins */
}

/* Checkboxes */
input.task-list-item-checkbox {
  height: 16px;
  width:  16px;
  background: var(--surface0);
  border: 1px solid #000;
  border-radius: 3px;
  vertical-align: middle;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: 0;
}

input.task-list-item-checkbox:checked {
  background: var(--color_accent);
}

input.task-list-item-checkbox:after { /* content in the empty box */
  /* creates a box with bottom and right borders visible (hidden when unchecked) and rotates it to makthe ckeckmark */
  /* 
  content: ' ';
  position: relative;
  left: 40%;
  top: 20%;
  width: 15%;
  height: 40%;
  border: solid #000;
  border-width: 0 2px 2px 0;
  transform: rotate(50deg);
  display: none; 
   */
}

input.task-list-item-checkbox:checked:after { /* content in the checked box */
  display: block;
}
/* Checkboxes */

/* Bash variables */
.language-bash .variable {
  color: var(--peach);
}
/* ------------- Global appearance ------------- */


/* ------------- Light colors ------------- */
@media (prefers-color-scheme: light) {
  :root {
    --rosewater:  #dc8a78;
    --flamingo:   #dd7878;
    --pink:       #ea76cb;
    --mauve:      #8839ef;
    --red:        #d20f39;
    --maroon:     #e64553;
    --peach:      #fe640b;
    --yellow:     #df8e1d;
    --green:      #40a02b;
    --teal:       #179299;
    --sky:        #04a5e5;
    --sapphire:   #209fb5;
    --blue:       #1e66f5;
    --lavender:   #7287fd;
    --text:       #4c4f69;
    --subtext1:   #5c5f77;
    --subtext0:   #6c6f85;
    --overlay2:   #7c7f93;
    --overlay1:   #8c8fa1;
    --overlay0:   #9ca0b0;
    --surface2:   #acb0be;
    --surface1:   #bcc0cc;
    --surface0:   #ccd0da;
    --base:       #eff1f5;
    --mantle:     #e6e9ef;
    --crust:      #dce0e8;
  }
}
/* ------------- Light colors ------------- */


/* ------------- Dark colors ------------- */
@media (prefers-color-scheme: dark) { /* mocha */
  :root {
    --rosewater:  #f5e0dc;
    --flamingo:   #f2cdcd;
    --pink:       #f5c2e7;
    --mauve:      #cba6f7;
    --red:        #f38ba8;
    --maroon:     #eba0ac;
    --peach:      #fab387;
    --yellow:     #f9e2af;
    --green:      #a6e3a1;
    --teal:       #94e2d5;
    --sky:        #89dceb;
    --sapphire:   #74c7ec;
    --blue:       #89b4fa;
    --lavender:   #b4befe;
    --text:       #cdd6f4;
    --subtext1:   #bac2de;
    --subtext0:   #a6adc8;
    --overlay2:   #9399b2;
    --overlay1:   #7f849c;
    --overlay0:   #6c7086;
    --surface2:   #585b70;
    --surface1:   #45475a;
    --surface0:   #313244;
    --base:       #1e1e2e;
    --mantle:     #181825;
    --crust:      #11111b;
  }
}
/* ------------- Dark colors ------------- */
